<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body>
  <nav>
    <h2><a href="/Resume_Ammazia/">Ammazia Hanif</a></h2>
    <ul>
      <li><a href="/Amazia/">Home</a></li>
      <li><a href="/Amazia/research.html">Research</a></li>
      <li><a href="/Amazia/cv.html">CV</a></li>
      <li><a href="/Amazia/teaching.html">Teaching</a></li>
    </ul>
  </nav>
  <main>
    {{ content }}
  </main>
</body>
</html>
